
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 14px;
    font-weight: normal;
}




.footer{
    padding-top: 20px;
    border-top: solid 1px #eaeaea;
    margin-top: 20px;

    img{
        width: 20px;
        height: 20px;
    }

    a:hover{
        color: #222;
    }


}
